<div class="content-row justify-content-center align-items-center row pb-1" style="overflow-x: hidden;">
    <div id="contentCarousel" class="material-shadow-2 px-0 carousel slide h-100" data-bs-ride="carousel"
        data-bs-interval="false">
        <div class="carousel-inner h-100">
            <div class="snap-item carousel-item active h-100">
                <div class="snap-project d-flex flex-nowrap h-100"
                    style="background-color: lightseagreen; position:relative;">
                    <div class="snap-card-container row">

                        <div class="p-0 card material-shadow-2" data-index="0">
                            <img class="rounded-2 img-fluid" src="{% static 'screenshots/snapchat_clone/camera.png' %}">
                        </div>
                        <div class="p-0 card material-shadow-2" data-index="1">
                            <img class="rounded-2 img-fluid" src="{% static 'screenshots/snapchat_clone/chat.png' %}">
                        </div>
                        <div class="p-0 card material-shadow-2" data-index="2">
                            <img class="rounded-2 img-fluid" src="{% static 'screenshots/snapchat_clone/search.png' %}">
                        </div>
                        <div class="p-0 card material-shadow-2" data-index="3">
                            <img class="rounded-2 img-fluid" src="{% static 'screenshots/snapchat_clone/signup.png' %}">
                        </div>
                        <div class="p-0 card material-shadow-2" data-index="4">
                            <img class="rounded-2 img-fluid" src="{% static 'screenshots/snapchat_clone/login.png' %}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="netflix-item carousel-item h-100">
                <div class="netflix-project container-fluid h-100" style="background-color: lightsalmon;">
                    <div class="carousel-caption">
                        <h1 class="display-3">netflix clone</h1>
                        <p>emulate netflix streaming site behaviour</p>
                        <p><a class="btn btn-lg btn-primary" href="#">visit site</a></p>
                    </div>
                </div>
            </div>
            <div class="canny-item carousel-item h-100">
                <div class="canny-project container-fluid h-100" style="background-color: lightslategray;">
                    <div class="carousel-caption text-end">
                        <h1 class="display-3">canny edge detector</h1>
                        <p>implementation of the canny edge detection algorithm</p>
                        <p><a class="btn btn-lg btn-primary" href="#">download</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>