.search-result-message{

    border-bottom: 1px solid white;
    h2{
        color: white;
    }

    .srm-underline{
        background-color: #777777;
        height: 1px;
    }

}

.result-thumbnail{
    max-width: 304px;
    max-height: 171px;
}

.result-title{
    color:white;
    transition: transform 0.3s;
}

.result-title:hover{
    color: whitesmoke;
    text-decoration-color: white;
}

.row-underline{
    background-color: #777777;
    height: 1px;
    width: 100%;
}

.result-col{
    border-bottom: 1px solid #777777;
}

@media (max-width:992px){
    .result-col{
        flex-direction: column;
    }
}

@media (min-width: 992px){
    .result-col{
        flex-direction: row;
    }
}
