$linkMargin: 8px;
$underlineColor: lightslategray;
$underlineHeight: 5%;


@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

@mixin wrap-content{
    width: fit-content;
    height: fit-content;
}

@mixin border{
    border: 1px solid lightslategray;
}

html, body{
    height: 100%;
}

@font-face {
    font-family: 'Cascadia-Code';
    src: url("fonts/cascadia_code/woff2/CascadiaMono.woff2") format("woff2");

    font-family: 'Avant-Garde-Gothic-Medium';
    src: url("fonts/avant_garde_bold/itc-avant-garde-gothic-medium.woff") format("woff");
}

body{
    font-family: 'Avant-Garde-Gothic-Medium';
    //font-family: 'Cascadia-Code','Courier New';
}

.accordion-button::after{
    display:none;
}


.underline-effect{
    height: 1px;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}

.demo-link:hover{
    text-decoration: underline;
}

.link-highlight {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0 1px;
    transition: color ease 0.1s;
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      visibility: hidden;
      height: $underlineHeight;
      left: 0;
      bottom: 0;
      background-color: $underlineColor;
      transition: all ease 0.3s;
    }
    
    &:hover {
      color: white;
      
      &::after {
        height: 100%;
        visibility: visible;
      }
    }
  }


.project-link-container{
    position:relative;
}

.project-links {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    @include wrap-content();
    top: 20%;
    a {
        @include mx-auto();
        text-decoration: none;
        margin-top: $linkMargin;
        margin-bottom: $linkMargin;
        color: black;
    }
}

.links-container{
    padding-left: 5%;
    padding-right:5%;
}


.divider{
    height: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: lightgrey;
}

@media (max-width: 576px){
    .project-links{
        width:92%;
    }
}

@media(min-width: 576px){
    .project-links{
        width: 74.5%;
    }
}

@media (min-width: 768px){
    .project-links{
        width: 55%;
    }
}


@media (min-width: 992px){
    .project-links{
        width: 50%;
    }
}

@media (min-width: 1200px){
    .project-links{
        width: 37.5%;
    }
}

@media (min-width: 1400px){
    .project-links{
        width: 32.5%;
    }
}
//atleast 1752 px
@media(min-width: 1752px){
    .project-links{
        width: 24.5%;
    }
}




