$linkMargin: 8px;
$underlineColor: lightslategray;
$underlineHeight: 5%;

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

@mixin wrap-content{
    width: fit-content;
    height: fit-content;
}

@mixin border{
    border: 1px solid lightslategray;
}

html, body{
    height: 100%;
}

@font-face {
    font-family: 'Cascadia-Code';
    src: url("fonts/cascadia_code/woff2/CascadiaMono.woff2") format("woff2");
}

body{
    font-family: 'Cascadia-Code','Courier New';
}


.underline-effect{
    height: 1px;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}

.link-highlight {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0 1px;
    transition: color ease 0.3s;
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      visibility: hidden;
      height: $underlineHeight;
      left: 0;
      bottom: 0;
      background-color: $underlineColor;
      transition: all ease 0.3s;
    }
    
    &:hover {
      color: white;
      
      &::after {
        height: 100%;
        visibility: visible;
      }
    }
  }


.project-link-container{
    position:relative;
}

.project-links {
    position: absolute;
    @include wrap-content();
    top: 25%;
    a {
        @include mx-auto();
        text-decoration: none;
        margin-top: $linkMargin;
        margin-bottom: $linkMargin;
        color: black;
    }
}


@media (max-width: 768px) {
    
}
