$snapCardTransitionDuration: 0.5s;

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  overflow: scroll;
}

@mixin material-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.underline-effect{
  height: 1px;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  transition: width 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
}

.info-row{
  height: 20%;
  width: 100%;
  background-color: lightseagreen;
  .info-content-container{
    background-color: lightseagreen;
  }
}

.main-container{
  background-color: lightseagreen;
}

.main-row {
  height: 60%;
  width: 100%;
  z-index: 110;
  transition: height 0.4s;
  //children absolute position will be relative to parent
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  .project-container {
    position: absolute;
    height: 100%;
    min-width: 100%;
    transition: transform 0.6s ease;

    .snap-container {
      background-color: lightseagreen;

      .snap-card-container{
        position: relative;
        background-color: lightseagreen;
      }

      .snap-title-container{
        position: absolute;
      }

      .snap-card {
        position: absolute;
        border: 1px solid lightslategray;
      }

      h1 {
        color: white;
      }

    }

    .netflix-container {
      height: 100%;
      min-width: 100%;
      background-color: lightsalmon;
      position: relative;

      .netflix-card{
        position: absolute;
        min-width: 40rem;
        max-width: 50rem;
        background-color: transparent;
        transition: transform 0.6s ease, opacity 0.6s ease;
      }
    }

    .canny-container {
      height: 100%;
      background-color: lightslategray;
    }
  }
}

.nav-item:hover {
  cursor: pointer;
}

.material-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.material-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 768px) {

  .snap-card{
    max-width: 12rem;
    top: 25%;
  }

  .camera-card{
    visibility: hidden;
  }

  .search-card{
    visibility: hidden;
  }

  .netflix-card{
    min-width: 32rem;
  }

}
$snapLoginHeight-md: 22%;
@mixin snap-card-styles-md{
  //push down
  .snap-login-card{
    top: $snapLoginHeight-md;
  }
  .signup-card{
    top: $snapLoginHeight-md;
  }
  .chat-card{
    top: $snapLoginHeight-md;
  }
  .search-card{
    top: $snapLoginHeight-md;
  }
  .camera-card{
    top: $snapLoginHeight-md;
  }
}



@media (min-width: 768px) and(max-width: 992px){
  .snap-card{
    max-width: 13rem;
    top: $snapLoginHeight-md;
  }
}

@media (max-width: 992px){

  .snap-card-container {
    height: 100%;
  }
  
}

//when it says min|max-width it means a miniumum or maximum width of whatever size

@media (min-width: 992px){

  .nav-container {
    margin-left: 8px;
  }

  .snap-card{
    max-width: 16rem;
    top: 5%;
  }

  .snap-title-container{
    max-width: 30%;
    max-height: 30%;
    left: 65%;
    top: 50%;
  }
}

//at most 1200 px
@media (min-width: 1200px) and (max-width: 1362px) {
  
  .netflix-card{
    max-width: 40rem;
  }

}

@media (min-width: 1400px) {

  .snap-title-container{
    max-width: 30%;
    max-height: 30%;
    left: 60%;
    top: 65%;
  }

  .nav-container {
    margin-left: 10.5%;
  }

  .info-content-container{
    width: 90%;
  }
}


