html, body {
  height: 100%;
}

@font-face {
  font-family: 'Cascadia-Code';
  src: url("fonts/cascadia_code/woff2/CascadiaMono.woff2") format("woff2");
  font-family: 'Avant-Garde-Gothic-Medium';
  src: url("fonts/avant_garde_bold/itc-avant-garde-gothic-medium.woff") format("woff");
}

body {
  font-family: 'Avant-Garde-Gothic-Medium';
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.accordion-button::after {
  display: none;
}

.underline-effect {
  height: 1px;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
}

.demo-link:hover {
  text-decoration: underline;
}

.link-highlight {
  position: relative;
  display: inline-block;
  color: white !important;
  text-decoration: none;
  padding: 0 1px;
}

.link-highlight:hover {
  text-decoration: underline !important;
}

.download-link {
  text-decoration: none;
  color: black !important;
}

.download-link:hover {
  text-decoration: underline;
}

.project-link-container {
  position: relative;
}

.project-links {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 20%;
}

.project-links a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.links-container {
  padding-left: 5%;
  padding-right: 5%;
}

.divider {
  height: 2px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: lightgrey;
}

@media (max-width: 576px) {
  .project-links {
    width: 92%;
  }
}

@media (min-width: 576px) {
  .project-links {
    width: 74.5%;
  }
}

@media (min-width: 768px) {
  .project-links {
    width: 55%;
  }
}

@media (min-width: 992px) {
  .project-links {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .project-links {
    width: 37.5%;
  }
}

@media (min-width: 1400px) {
  .project-links {
    width: 32.5%;
  }
}

@media (min-width: 1752px) {
  .project-links {
    width: 24.5%;
  }
}

.background-anim {
  background: linear-gradient(182deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000% 1000%;
  -webkit-animation: background_anim 25s ease infinite;
  animation: background_anim 25s ease infinite;
}

@-webkit-keyframes background_anim {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

@keyframes background_anim {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
/*# sourceMappingURL=styles.css.map */