/* Text-size styles */
$display1: 64px;
$display2: 57px;
$display3: 45px;
$headline1: 36px;
$headline2: 32px; 
$headline3: 28px;
$headline4: 24px;
$headline5: 22px;
$headline6: 18px;
$subhead1: 16px;
$subhead2: 14px;
$button: 14px;
$body1: 16px;
$body2: 14px;
$caption: 12px;
$overline: 12px;
$label-small: 11px;
$displaylarge: 57px;
$displaymedium: 45px;
$displaysmall: 36px;
$headlinelarge: 32px;
$headlinemedium: 28px;
$headlinesmall: 24px;
$titlelarge: 22px;
$titlemedium: 16px;
$titlesmall: 14px;
$labellarge: 14px;
$labelmedium: 12px;
$labelsmall: 11px;
$bodylarge: 16px;
$bodymedium: 14px;
$bodysmall: 12px;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);
