$sysdarkprimary: #8CCDFF;
$sysdarkon-primary: #003350;
$sysdarkprimary-container: #004B72;
$sysdarkon-primary-container: #CAE6FF;
$sysdarksecondary: #B7C8D9;
$sysdarkon-secondary: #22323F;
$sysdarksecondary-container: #394856;
$sysdarkon-secondary-container: #D3E4F5;
$sysdarktertiary: #D0BFE8;
$sysdarkon-tertiary: #362B4A;
$sysdarktertiary-container: #4D4162;
$sysdarkon-tertiary-container: #EDDCFF;
$sysdarkerror: #FFB4A9;
$sysdarkerror-container: #930006;
$sysdarkon-error: #680003;
$sysdarkon-error-container: #FFDAD4;
$sysdarkbackground: #1A1C1E;
$sysdarkon-background: #E2E2E5;
$sysdarksurface: #1A1C1E;
$sysdarkon-surface: #E2E2E5;
$sysdarksurface-variant: #41474D;
$sysdarkon-surface-variant: #C2C7CE;
$sysdarkoutline: #8B9198;
$sysdarkinverse-on-surface: #1A1C1E;
$sysdarkinverse-surface: #E2E2E5;
$sysdarkinverse-primary: #006496;
$sysdarkshadow: #000000;

$dark-surface1: #1A1C1E;
$dark-surface2: #1A1C1E;
$dark-surface3: #1A1C1E;
$dark-surface4: #1A1C1E;
$dark-surface5: #1A1C1E;
$dark-white: #FFFFFF;
$dark-black: #000000;
$dark-primaryopacity-008: #8CCDFF;
$dark-primaryopacity-012: #8CCDFF;
$dark-primaryopacity-016: #8CCDFF;
$dark-on-primaryopacity-008: #003350;
$dark-on-primaryopacity-012: #003350;
$dark-on-primaryopacity-016: #003350;
$dark-primary-containeropacity-008: #004B72;
$dark-primary-containeropacity-012: #004B72;
$dark-primary-containeropacity-016: #004B72;
$dark-on-primary-containeropacity-008: #CAE6FF;
$dark-on-primary-containeropacity-012: #CAE6FF;
$dark-on-primary-containeropacity-016: #CAE6FF;
$dark-secondaryopacity-008: #B7C8D9;
$dark-secondaryopacity-012: #B7C8D9;
$dark-secondaryopacity-016: #B7C8D9;
$dark-on-secondaryopacity-008: #22323F;
$dark-on-secondaryopacity-012: #22323F;
$dark-on-secondaryopacity-016: #22323F;
$dark-secondary-containeropacity-008: #394856;
$dark-secondary-containeropacity-012: #394856;
$dark-secondary-containeropacity-016: #394856;
$dark-on-secondary-containeropacity-008: #D3E4F5;
$dark-on-secondary-containeropacity-012: #D3E4F5;
$dark-on-secondary-containeropacity-016: #D3E4F5;
$dark-tertiaryopacity-008: #D0BFE8;
$dark-tertiaryopacity-012: #D0BFE8;
$dark-tertiaryopacity-016: #D0BFE8;
$dark-on-tertiaryopacity-008: #362B4A;
$dark-on-tertiaryopacity-012: #362B4A;
$dark-on-tertiaryopacity-016: #362B4A;
$dark-tertiary-containeropacity-008: #4D4162;
$dark-tertiary-containeropacity-012: #4D4162;
$dark-tertiary-containeropacity-016: #4D4162;
$dark-on-tertiary-containeropacity-008: #EDDCFF;
$dark-on-tertiary-containeropacity-012: #EDDCFF;
$dark-on-tertiary-containeropacity-016: #EDDCFF;
$dark-erroropacity-008: #FFB4A9;
$dark-erroropacity-012: #FFB4A9;
$dark-erroropacity-016: #FFB4A9;
$dark-error-containeropacity-008: #930006;
$dark-error-containeropacity-012: #930006;
$dark-error-containeropacity-016: #930006;
$dark-on-erroropacity-008: #680003;
$dark-on-erroropacity-012: #680003;
$dark-on-erroropacity-016: #680003;
$dark-on-error-containeropacity-008: #FFDAD4;
$dark-on-error-containeropacity-012: #FFDAD4;
$dark-on-error-containeropacity-016: #FFDAD4;
$dark-backgroundopacity-008: #1A1C1E;
$dark-backgroundopacity-012: #1A1C1E;
$dark-backgroundopacity-016: #1A1C1E;
$dark-on-backgroundopacity-008: #E2E2E5;
$dark-on-backgroundopacity-012: #E2E2E5;
$dark-on-backgroundopacity-016: #E2E2E5;
$dark-surfaceopacity-008: #1A1C1E;
$dark-surfaceopacity-012: #1A1C1E;
$dark-surfaceopacity-016: #1A1C1E;
$dark-on-surfaceopacity-008: #E2E2E5;
$dark-on-surfaceopacity-012: #E2E2E5;
$dark-on-surfaceopacity-016: #E2E2E5;
$dark-surface-variantopacity-008: #41474D;
$dark-surface-variantopacity-012: #41474D;
$dark-surface-variantopacity-016: #41474D;
$dark-on-surface-variantopacity-008: #C2C7CE;
$dark-on-surface-variantopacity-012: #C2C7CE;
$dark-on-surface-variantopacity-016: #C2C7CE;
$dark-outlineopacity-008: #8B9198;
$dark-outlineopacity-012: #8B9198;
$dark-outlineopacity-016: #8B9198;
$dark-inverse-on-surfaceopacity-008: #1A1C1E;
$dark-inverse-on-surfaceopacity-012: #1A1C1E;
$dark-inverse-on-surfaceopacity-016: #1A1C1E;
$dark-inverse-surfaceopacity-008: #E2E2E5;
$dark-inverse-surfaceopacity-012: #E2E2E5;
$dark-inverse-surfaceopacity-016: #E2E2E5;
$dark-inverse-primaryopacity-008: #006496;
$dark-inverse-primaryopacity-012: #006496;
$dark-inverse-primaryopacity-016: #006496;
$dark-shadowopacity-008: #000000;
$dark-shadowopacity-012: #000000;
$dark-shadowopacity-016: #000000;

$dark-color-accent-primary: #CAE6FF;
$dark-color-accent-primary-variant: #5DB3F1;
$dark-text-color-primary: #F0F0F3;
$dark-text-color-primary-inverse: #1A1C1E;
$dark-color-accent-secondary: #D3E4F5;
$dark-color-accent-secondary-variant: #9DADBD;
$dark-text-color-secondary: #C2C7CE;
$dark-text-color-secondary-inverse: #45474A;
$dark-color-accent-tertiary: #EDDCFF;
$dark-color-accent-tertiary-variant: #B4A4CB;
$dark-text-color-tertiary: #8B9198;
$dark-text-color-tertiary-inverse: #75777A;
$dark-color-background: #1A1C1E;
$dark-color-background-floating: #1A1C1E;
$dark-color-surface: #2F3032;
$dark-color-surface-variant: #45474A;
$dark-color-surface-highlight: #515355;
$dark-surface-header: #45474A;
$dark-under-surface: #000000;
$dark-off-state: #2F3032;
$dark-accent-surface: #ECF1F9;
$dark-text-primary-on-accent: #1A1C1E;
$dark-text-secondary-on-accent: #41474D;
$dark-scrim: #C5C6C9;
$dark-volume-background: #3A3C3E;