/* Color styles */
$syslightprimary: #006496;
$syslighton-primary: #FFFFFF;
$syslightprimary-container: #CAE6FF;
$syslighton-primary-container: #001E31;
$syslightsecondary: #50606F;
$syslighton-secondary: #FFFFFF;
$syslightsecondary-container: #D3E4F5;
$syslighton-secondary-container: #0D1D29;
$syslighttertiary: #66587B;
$syslighton-tertiary: #FFFFFF;
$syslighttertiary-container: #EDDCFF;
$syslighton-tertiary-container: #211634;
$syslighterror: #BA1B1B;
$syslighterror-container: #FFDAD4;
$syslighton-error: #FFFFFF;
$syslighton-error-container: #410001;
$syslightbackground: #FCFCFF;
$syslighton-background: #1A1C1E;
$syslightsurface: #FCFCFF;
$syslighton-surface: #1A1C1E;
$syslightsurface-variant: #DEE3EA;
$syslighton-surface-variant: #41474D;
$syslightoutline: #72787E;
$syslightinverse-on-surface: #F0F0F3;
$syslightinverse-surface: #2F3032;
$syslightinverse-primary: #8CCDFF;
$syslightshadow: #000000;

$primary100: #FFFFFF;
$primary99: #FBFCFF;
$primary95: #E5F2FF;
$primary90: #CAE6FF;
$primary80: #8CCDFF;
$primary70: #5DB3F1;
$primary60: #3D98D4;
$primary50: #0F7EB8;
$primary40: #006496;
$primary30: #004B72;
$primary20: #003350;
$primary10: #001E31;
$primary0: #000000;
$secondary100: #FFFFFF;
$secondary99: #FBFCFF;
$secondary95: #E5F2FF;
$secondary90: #D3E4F5;
$secondary80: #B7C8D9;
$secondary70: #9DADBD;
$secondary60: #8393A3;
$secondary50: #697988;
$secondary40: #50606F;
$secondary30: #394856;
$secondary20: #22323F;
$secondary10: #0D1D29;
$secondary0: #000000;
$tertiary100: #FFFFFF;
$tertiary99: #FFFBFC;
$tertiary95: #F8ECFF;
$tertiary90: #EDDCFF;
$tertiary80: #D0BFE8;
$tertiary70: #B4A4CB;
$tertiary60: #998AB0;
$tertiary50: #7F7195;
$tertiary40: #66587B;
$tertiary30: #4D4162;
$tertiary20: #362B4A;
$tertiary10: #211634;
$tertiary0: #000000;
$neutral100: #FFFFFF;
$neutral99: #FCFCFF;
$neutral95: #F0F0F3;
$neutral90: #E2E2E5;
$neutral80: #C5C6C9;
$neutral70: #AAABAE;
$neutral60: #909194;
$neutral50: #75777A;
$neutral40: #5D5E61;
$neutral30: #45474A;
$neutral20: #2F3032;
$neutral10: #1A1C1E;
$neutral0: #000000;
$neutral-variant100: #FFFFFF;
$neutral-variant99: #FBFCFF;
$neutral-variant95: #ECF1F9;
$neutral-variant90: #DEE3EA;
$neutral-variant80: #C2C7CE;
$neutral-variant70: #A6ACB3;
$neutral-variant60: #8B9198;
$neutral-variant50: #72787E;
$neutral-variant40: #595F65;
$neutral-variant30: #41474D;
$neutral-variant20: #2B3137;
$neutral-variant10: #161C22;
$neutral-variant0: #000000;
$error100: #FFFFFF;
$error99: #FCFCFC;
$error95: #FFEDE9;
$error90: #FFDAD4;
$error80: #FFB4A9;
$error70: #FF897A;
$error60: #FF5449;
$error50: #DD3730;
$error40: #BA1B1B;
$error30: #930006;
$error20: #680003;
$error10: #410001;
$error0: #000000;
$source-seed: #2676A8;
$source-primary: #006496;
$source-secondary: #50606F;
$source-tertiary: #66587B;
$source-neutral: #5D5E61;
$source-neutral--variant: #595F65;
$source-error: #BA1B1B;
$light-surface1: #FCFCFF;
$light-surface2: #FCFCFF;
$light-surface3: #FCFCFF;
$light-surface4: #FCFCFF;
$light-surface5: #FCFCFF;
$light-black: #000000;
$light-white: #FFFFFF;
$light-primaryopacity-008: #006496;
$light-primaryopacity-012: #006496;
$light-primaryopacity-016: #006496;
$light-on-primaryopacity-008: #FFFFFF;
$light-on-primaryopacity-012: #FFFFFF;
$light-on-primaryopacity-016: #FFFFFF;
$light-primary-containeropacity-008: #CAE6FF;
$light-primary-containeropacity-012: #CAE6FF;
$light-primary-containeropacity-016: #CAE6FF;
$light-on-primary-containeropacity-008: #001E31;
$light-on-primary-containeropacity-012: #001E31;
$light-on-primary-containeropacity-016: #001E31;
$light-secondaryopacity-008: #50606F;
$light-secondaryopacity-012: #50606F;
$light-secondaryopacity-016: #50606F;
$light-on-secondaryopacity-008: #FFFFFF;
$light-on-secondaryopacity-012: #FFFFFF;
$light-on-secondaryopacity-016: #FFFFFF;
$light-secondary-containeropacity-008: #D3E4F5;
$light-secondary-containeropacity-012: #D3E4F5;
$light-secondary-containeropacity-016: #D3E4F5;
$light-on-secondary-containeropacity-008: #0D1D29;
$light-on-secondary-containeropacity-012: #0D1D29;
$light-on-secondary-containeropacity-016: #0D1D29;
$light-tertiaryopacity-008: #66587B;
$light-tertiaryopacity-012: #66587B;
$light-tertiaryopacity-016: #66587B;
$light-on-tertiaryopacity-008: #FFFFFF;
$light-on-tertiaryopacity-012: #FFFFFF;
$light-on-tertiaryopacity-016: #FFFFFF;
$light-tertiary-containeropacity-008: #EDDCFF;
$light-tertiary-containeropacity-012: #EDDCFF;
$light-tertiary-containeropacity-016: #EDDCFF;
$light-on-tertiary-containeropacity-008: #211634;
$light-on-tertiary-containeropacity-012: #211634;
$light-on-tertiary-containeropacity-016: #211634;
$light-erroropacity-008: #BA1B1B;
$light-erroropacity-012: #BA1B1B;
$light-erroropacity-016: #BA1B1B;
$light-error-containeropacity-008: #FFDAD4;
$light-error-containeropacity-012: #FFDAD4;
$light-error-containeropacity-016: #FFDAD4;
$light-on-erroropacity-008: #FFFFFF;
$light-on-erroropacity-012: #FFFFFF;
$light-on-erroropacity-016: #FFFFFF;
$light-on-error-containeropacity-008: #410001;
$light-on-error-containeropacity-012: #410001;
$light-on-error-containeropacity-016: #410001;
$light-backgroundopacity-008: #FCFCFF;
$light-backgroundopacity-012: #FCFCFF;
$light-backgroundopacity-016: #FCFCFF;
$light-on-backgroundopacity-008: #1A1C1E;
$light-on-backgroundopacity-012: #1A1C1E;
$light-on-backgroundopacity-016: #1A1C1E;
$light-surfaceopacity-008: #FCFCFF;
$light-surfaceopacity-012: #FCFCFF;
$light-surfaceopacity-016: #FCFCFF;
$light-on-surfaceopacity-008: #1A1C1E;
$light-on-surfaceopacity-012: #1A1C1E;
$light-on-surfaceopacity-016: #1A1C1E;
$light-surface-variantopacity-008: #DEE3EA;
$light-surface-variantopacity-012: #DEE3EA;
$light-surface-variantopacity-016: #DEE3EA;
$light-on-surface-variantopacity-008: #41474D;
$light-on-surface-variantopacity-012: #41474D;
$light-on-surface-variantopacity-016: #41474D;
$light-outlineopacity-008: #72787E;
$light-outlineopacity-012: #72787E;
$light-outlineopacity-016: #72787E;
$light-inverse-on-surfaceopacity-008: #F0F0F3;
$light-inverse-on-surfaceopacity-012: #F0F0F3;
$light-inverse-on-surfaceopacity-016: #F0F0F3;
$light-inverse-surfaceopacity-008: #2F3032;
$light-inverse-surfaceopacity-012: #2F3032;
$light-inverse-surfaceopacity-016: #2F3032;
$light-inverse-primaryopacity-008: #8CCDFF;
$light-inverse-primaryopacity-012: #8CCDFF;
$light-inverse-primaryopacity-016: #8CCDFF;
$light-shadowopacity-008: #000000;
$light-shadowopacity-012: #000000;
$light-shadowopacity-016: #000000;

$light-color-accent-primary: #CAE6FF;
$light-color-accent-primary-variant: #006496;
$light-text-color-primary: #1A1C1E;
$light-text-color-primary-inverse: #F0F0F3;
$light-color-accent-secondary: #D3E4F5;
$light-color-accent-secondary-variant: #50606F;
$light-text-color-secondary: #41474D;
$light-text-color-secondary-inverse: #C5C6C9;
$light-color-accent-tertiary: #EDDCFF;
$light-color-accent-tertiary-variant: #66587B;
$light-text-color-tertiary: #72787E;
$light-text-color-tertiary-inverse: #909194;
$light-color-background: #F0F0F3;
$light-color-background-floating: #F9F9FC;
$light-color-surface: #F9F9FC;
$light-color-surface-variant: #E2E2E5;
$light-color-surface-highlight: #FFFFFF;
$light-surface-header: #E2E2E5;
$light-under-surface: #000000;
$light-off-state: #2F3032;
$light-accent-surface: #ECF1F9;
$light-text-primary-on-accent: #1A1C1E;
$light-text-secondary-on-accent: #41474D;
$light-scrim: #C5C6C9;
$light-volume-background: #3A3C3E;

/* Text-size styles */
/* base size: material-theme--display1 (64px) */
$display1: 1rem;
$display2: 0.89rem;
$display3: 0.7rem;
$headline1: 0.56rem;
$headline2: 0.5rem;
$headline3: 0.44rem;
$headline4: 0.38rem;
$headline5: 0.34rem;
$headline6: 0.28rem;
$subhead1: 0.25rem;
$subhead2: 0.22rem;
$button: 0.22rem;
$body1: 0.25rem;
$body2: 0.22rem;
$caption: 0.19rem;
$overline: 0.19rem;
$label-small: 0.17rem;
$display--large: 0.89rem;
$display--medium: 0.7rem;
$display--small: 0.56rem;
$headline--large: 0.5rem;
$headline--medium: 0.44rem;
$headline--small: 0.38rem;
$title--large: 0.34rem;
$title--medium: 0.25rem;
$title--small: 0.22rem;
$label--large: 0.22rem;
$label--medium: 0.19rem;
$label--small: 0.17rem;
$body--large: 0.25rem;
$body--medium: 0.22rem;
$body--small: 0.19rem;
