<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'notflix/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'notflix/css/modal.css' %}" />
    <link rel="stylesheet" href="{% static 'notflix/css/search_result.css' %}" />

    <title>Notflix</title>
</head>

<body>
    <!--img src="http://127.0.0.1:5820/thumbnails/avengers_2012.jpg" style="max-width:320px;max-height:240px;"/-->
    {% load static %}
    <nav class="navbar sticky-top fixed-top navbar-expand-lg navbar-dark border-0" style="background-color: #141414;">
        <a class="navbar-brand" href="">
            <img src="{% static 'notflix/notflix_brand_img.png' %}" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" id="home_link">
                    <a class="nav-link" href="/notflix">Home</a>
                </li>
                <li class="nav-item" id="tv_shows_link">
                    <a class="nav-link" href="/notflix/tvshows">TV Shows</a>
                </li>
                <li class="nav-item" id="movies_link">
                    <a class="nav-link" href="/notflix/movies">Movies</a>
                </li>

            </ul>
            <div class="d-flex flex-row flex-nowrap align-items-center mr-2 logout-link-container">
                <a class="logout-link" href="/notflix/logout" style="color:white; text-decoration: none;">
                    Logout
                </a>
                <div class="ml-2 seperator">
                </div>
            </div>
            
            <form action="/notflix/search/" class="form-inline my-2 my-lg-0" method="get">
                {% csrf_token %}
                {{ search_form }}
                <button class="search-button btn my-2 my-sm-0" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="32px" height="32px">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                </button>
            </form>
        </div>
    </nav>

    <div class="main-container container-fluid ">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- <script type="module" src="{% static 'notflix/js/modal_manager.js' %}"></script> -->
    <script src="{% static 'notflix/js/scroll_row.js' %}"></script>
    <script>
        //do over
        //
        //card.hover 0.5s ->
        //     trigger modal animation
        var timer = null;
        const MODAL_SHOW_DELAY = 500;
        const FADE_OUT = 0;
        const FADE_IN = 1;

        var isOpen = false;
        var isOpening = false;
        var isClosing = false;
        var isClosed = true;

        $('body')[0].addEventListener('touchstart',(event)=>{
            console.log('body touchstart');
            if(isOpen || isOpening){
                //check target instead
                //no matter what i need to check if the touch event was inside of the modal
                //
                //modal open -> ontouch non modal  -> close modal 
                //modal close -> ontouch non modal -> do nothing
                if(!$('#modal_container')[0].contains(event.target)){
                    console.log('close modal!');
                    closeModal();
                }
                
            }
        });

        $('#modal_container').on('touchstart',(event)=>{
            //do nothing other elements handle this
            //
        });


        function setCardListeners() {
            $('.custom-card').mouseenter((event) => {
                if (timer == null) {
                    timer = setTimeout(showModal, MODAL_SHOW_DELAY, event);
                }
            });

            $('.custom-card').mouseleave((event) => {
                clearTimeout(timer);
                timer = null;
            });
        }

        function removeCardListeners(){
            $('.custom-card').unbind('mouseenter');
            $('.custom-card').unbind('mouseleave');
        }

        setCardListeners();

        function closeModal(){
            if (isOpen || isOpening) {
                isClosing = true;
                isOpen = false;
                $('.modal-custom').css({
                    'transition-duration': '0.2s',
                    'transform': 'scale(1)',
                    'box-shadow': '0 0px 0px rgba(0,0,0,0)'
                });
                //fade out footer
                fade('.modal-custom-footer', FADE_OUT);
                //fade poster back in on close
                fade('.modal-poster', FADE_IN);
            }
        }

        $('.modal-custom').mouseleave((event) => {
            //close or cancel modal transition
            //if we leave before shits open then its canceld
            closeModal();
        });

        function fade(selector, opacity) {
            $(selector).css({ 'opacity': opacity });
        }

        $('.modal-custom').on('transitionstart', (event) => {

        });
        $('.modal-custom').on('transitioncancel', (event) => {
            //any open or close transition has been canceled
            //but only open operations are closeable
            if ($(event.target).hasClass('modal-custom')) {
                if (isOpening) {
                    isOpening = false;
                    isClosing = true;
                }
            }
        });


        $('.modal-custom').on('transitionend', (event) => {
            if ($(event.target).hasClass('modal-custom')) {
                if (isOpening) {
                    isOpen = true;
                    isClosed = false;
                    //fade out poster on open
                    fade('.modal-poster', FADE_OUT);
                }
                if (isClosing) {
                    isOpen = false;
                    isClosed = true;
                    type = null;
                    id = null;
                    card = null;
                    $('.modal-custom').css({ 'visibility': 'hidden' });
                    $('.modal-video').children('source').remove();
                    $('.modal-poster').attr('src', '');
                    let voteButtonActive = $('.modal-vote-active');
                    if(voteButtonActive.length > 0){
                        voteButtonActive.removeClass('modal-vote-active');
                    }
                }
                isOpening = false;
                isClosing = false;
            }
        });

        $('.modal-play-button').on('click', (event) => {
            $(event.currentTarget).children('a')[0].click();
        });
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        function ajaxPost(url,success,error){
            $.ajax({
                url:url,
                type: 'POST',
                headers:{
                    'X-CSRFToken': csrftoken
                },  
                success: success,
                error: error,
            });
        }

        $('.modal-vote-button').on('click',(event)=>{
            if(type != null && id != null){
                console.log(`${type}/${id}/`); 
                //perform ajax post
                //using csrf token? or what?    l
                let button = $(event.currentTarget);
                let likeDislikePath = 'like';
                if(button.hasClass('modal-downvote-button')){
                    likeDislikePath = 'dislike';
                }
                let url = `/notflix/${likeDislikePath}/${type}/${id}`;
                ajaxPost(url,(response)=>{
                    //change the 
                    console.log(`response => ${response.status}`);
                    if(response.like_status != 'unset'){
                        //remove the like from the currently active if it exists
                        let currentActive = $('.modal-vote-active');
                        if(currentActive.length > 0){
                            currentActive.removeClass('modal-vote-active');
                        }
                        button.addClass('modal-vote-active');
                    }else{
                        //remove like class from the button
                        button.removeClass('modal-vote-active');
                    }
                    let pref = 'unset';
                    if(likeDislikePath == 'like'){
                        if (response.like_status == 'set'){
                            pref = 'like';
                        }
                    }else{
                        if (response.like_status=='set'){
                            pref='dislike';
                        }
                    }
                    card.attr('data-pref',pref);
                },(error)=>{
                    console.log('')
                });
            }
        });
      
        let type = null;
        let id = null;
        let card = null;
        function showModal(event) {
            //reset timer
            if(!isClosed){
                return;
            }
            isOpening = true;
            isClosed = false; 
            //set top and left
            card = $(event.currentTarget);
            let cardWidth = card.width();
            let cardHeight = card.height();
            let cardThumbnailUrl = card.children('img').attr('src');
            let cardPreviewUrl = card.attr('data-preview-url');

            let modal = $('.modal-custom');
            let poster = $('.modal-poster');
            let video = $('.modal-video');

            //
            let offset_x = getHorizontalBoundsOffset(1.3, card.offset().left, cardWidth, $('.content-container').offset().left, $('.content-container').width());
            modal.css({
                'visibility': 'visible',
                'left': card.offset().left,
                'top': card.offset().top,
                'transition-duration': '0.3s',
                'transform': 'scale(1.3) translateX(' + offset_x + 'px) translateY(-24px)',
                'box-shadow': '0 3px 6px rgba(0,0,0,0.23)'
            });

            poster.attr('src', cardThumbnailUrl);
            poster.css({
                'width': cardWidth,
                'height': cardHeight,
            });

            type = card.attr('data-type');
            id = card.attr('data-watchable-id');
            let runtime = parseInt(card.attr('data-runtime'));
            let genre = card.attr('data-genre');
            let pref = card.attr('data-pref');

            if(pref == 'none'){
                //query server
                $.ajax({
                    url:`/notflix/status/preference/${type}/${id}/`,
                    type:'GET',
                    headers:{
                        'X-CSRFToken':csrftoken
                    },
                    success:(response) => {
                        let prefStatus = response.like_status;
                        card.attr('data-pref',prefStatus);
                        //always need to unset this 
                        if(prefStatus != 'unset'){
                            //one of the buttons should be active
                            if(prefStatus == 'like'){
                                $('.modal-upvote-button').addClass('modal-vote-active');
                            }else{
                                //set the attribute on the card
                                $('.modal-downvote-button').addClass('modal-vote-active');
                            }
                        }else{
                            let voteButtonActive = $('.modal-vote-active');
                            if(voteButtonActive.length > 0){
                                voteButtonActive.removeClass('modal-vote-active');
                            }
                        }
                    },
                    error:(error)=>{

                    },
                });
            }else{
                if(pref != 'unset'){
                    //one of the buttons should be active
                    if(pref == 'like'){
                        $('.modal-upvote-button').addClass('modal-vote-active');
                    }else{
                        //set the attribute on the card
                        $('.modal-downvote-button').addClass('modal-vote-active');
                    }
                }else{
                    let voteButtonActive = $('.modal-vote-active');
                    if(voteButtonActive.length > 0){
                        voteButtonActive.removeClass('modal-vote-active');
                    }
                }
            }
            

            setFooterScaleReposition();
            setVideoElementAttrs(video, cardWidth, cardHeight, cardPreviewUrl);
            $('.modal-watchable-link').attr('href', '/notflix/watch/' + type + '/' + id);

            //if type == movie
            if(type == "movie"){
                //grab runtime
                //
                //seconds to hours
                let HOUR_SECONDS = 3600;
                let MINUTE_SECONDS = 60;
                //convert seconds to minutes and hours
                //first seconds remaining = seconds/hours_seconds
                let hours = Math.floor(runtime / HOUR_SECONDS);
                let remaining = (runtime/HOUR_SECONDS) - hours;//in minutes
                let minutes = Math.floor(remaining * 60);
                //so now what
                $('.modal-runtime').text('Runtime '+hours + 'h ' +  minutes+'m');
            }else{
                //tvshow
                $('.modal-seasons').text('Seasons 1');
            }
            $('.modal-genre').text(genre);
            
        }

        function setFooterScaleReposition() {
            let modalFooter = $('.modal-custom-footer');
            let modalFooterParent = $('.modal-scale-down');
            let modalFooterParentPosition = modalFooterParent.position();
            //height and width will be scaled by 70%
            //so reposition relative to parent 
            let cx = modalFooterParentPosition.left + modalFooterParent.width() / 2;
            let cy = modalFooterParentPosition.top + modalFooterParent.height() / 2;
            let new_left = cx - (0.7 * modalFooterParent.width()) / 2;
            let new_top = cy - (0.7 * modalFooterParent.height()) / 2;

            let deltaX = modalFooterParentPosition.left - new_left;
            let deltaY = modalFooterParentPosition.top - new_top;
            modalFooterParent.css({
                'transform': 'scale(0.7) translateX(' + deltaX + 'px) translateY(' + deltaY + 'px)',
            });
            //fade in footer
            modalFooter.css({
                'opacity': 1,
                'height': 0.7 * modalFooterParent.height() + 16
            });
        }

        //translate left if offscreen from the right
        //translate right if offscreen from the left
        function getHorizontalBoundsOffset(scale, left, width, parentLeft, parentWidth) {
            let offset = 0;
            let cx = left + width / 2;
            let parentRight = parentLeft + parentWidth;
            let newWidth = width * scale;
            let newLeft = cx - (newWidth / 2);
            let newRight = cx + (newWidth / 2);

            if (newLeft < parentLeft) {
                offset = (parentLeft - newLeft) - 8;//translate right as many units
                //as we are off the screen to the left
            }
            else if (newRight > parentRight) {
                offset = -(newRight - parentRight) + 8;
                //translate left as many units as we are off the right
            }
            return offset;
        }

        function setVideoElementAttrs(element, width, height, url) {
            element.attr('width', width);
            element.attr('height', height);
            element.append('<source src=/static/' + url + '>');
            element[0].load();
        }
    </script>
    <script>
        function setSeperatorHeight(media_query){
            console.log('running query listener!');
            if (!media_query.matches){
                console.log('screen smaller than 992px')
                $('.seperator').css({
                    'opacity':0
                });
                //scss defined media query should handle this
            }else{
                console.log('screen larger than 992px');
                var seperator_height = $('.logout-link').height() + 4 ;
                $('.seperator').css({
                    'height':seperator_height + "px",
                    'opacity':100,
                });
            }
        } 
        //window smaller than 992 px our breakpoint
        var windowSmaller_mediaQuery = window.matchMedia('(min-width: 992px)');
        $(document).ready(()=>{
            //set height of seperator
            //to container height
            //
            setSeperatorHeight(windowSmaller_mediaQuery);//can be 0
            windowSmaller_mediaQuery.addListener(setSeperatorHeight);
            //check the current url 
            let current_path = window.location.pathname;
            $('li.active').removeClass('active');
            //console.log(current_path);
            if(current_path == '/notflix/'){
                $('#home_link').addClass('active');
            }else if(current_path == '/notflix/movies/'){
                $('#movies_link').addClass('active');
            }else{
                $('#tv_shows_link').addClass('active');
            }
        }); 
    </script>
</body>

</html>