<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'notflix/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'notflix/css/auth.css' %}" />
    <title>Notflix</title>
</head>

<body>
    <div class="d-flex align-items-center container h-100 w-100">
        <div class="d-flex container p-4 login-container material-shadow-2">
            <div class="d-flex flex-column pt-4 w-100">
                
                <h1 class="mb-4">
                    Login
                </h1>
                
                <form method="POST" action="/notflix/auth/login">
                    {% csrf_token %}
                    {% for field in login_form %}
                    <label class="login-form-label form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    {% endfor %}
                    <input type="Submit" value="Login" class="mt-4 btn btn-primary"></input>
                </form>
                
                
                <a href="/notflix/signup" class="mt-auto ml-auto signup-link">
                    <div class="" style="color: white;">
                        Sign Up
                    </div>
                </a>
            </div>
        </div>
    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>